* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/*************************************** Navbar Styling **************************************************************************/

.navbar {
    display: flex;
    align-items: center;
    background-color: #a8b9a6;
    padding: 20px 0;
    position: fixed;
    gap: 400px;
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
}
.navbar h1 a:hover {
    color: #fff;
    cursor: pointer;
}

.navbar h1 a {
    color: #000;
    text-decoration: none;
}
.navbar ul {
    display: flex;
}

.navbar ul li {
    padding: 20px;
    list-style: none;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
}

.navbar ul li a:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.3s;
}

.active, .btn:hover {
    color: rgb(252, 252, 252);
    text-decoration: underline;
}

.navbar button {
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.navbar button a {
    text-decoration: none;
    color: #000;
}

.navbar ul li .active {
    color: #fff;
    text-decoration: underline;
}

/* *******************************************Hero Styling **************************************************************************/

.hero {
    padding: 200px 0px 100px 50px;
    background-color: #a8b9a6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 250px;
}

.heroLeft {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 500px;
    animation-name: slideRight;
    animation-duration: 2s;
}

.heroLeft span {
    color: #fff;
}

.heroLeft p {
    font-weight: bold;
}

.icons {
    display: flex;
    gap: 20px;
    font-size: larger;
}

.icons i {
    cursor: pointer;
    color: #000;
}


.heroRight img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 5px solid white;
    animation-name: slideLeft;
    animation-duration: 2s;
}
.heroRight img:hover{
    box-shadow: 0 0 25px white;
}


/************************************ About Me Styling ******************************************************************/
@keyframes slideRight {
    from {
        transform: translateX(-200px);
    }
}
@keyframes slideLeft {
    from {
        transform: translateX(200px);
    }
}
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 200px;
    gap: 20px;
}

.about img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 5px solid #a8b9a6;
}
.about img:hover{
    box-shadow: 0 0 25px #a8b9a6;
}

.aboutRight {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutRight h3 {
    color: #a8b9a6;
    font-weight: bolder;
}

.aboutRight button {
    cursor: pointer;
    background-color: #a8b9a6;
    color: #fff;
    padding: 20px 5px;
    border: none;
    border-radius: 50px;
    width: 40%;

}
.aboutRight button:hover{
    box-shadow: 0 0 10px #a8b9a6 ;
}

.aboutRight p {
    font-size: large;
}

.title {
    font-weight: bolder;
}

/* *************************************************My Services Styling ***************************************************/

.services {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 120px;
    padding-bottom: 200px;
    background-color: #a8b9a6 ;
}

.services h2 {
    padding-bottom: 50px;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 400px;
    font-size: large;
    border: 2px solid #a8b9a6;
    border-radius: 30px;
    padding: 10px;
    animation-name: slideLeft;
    animation-duration: 2s;
    background-color: #d9d9d9;
    border: none;
}

.card:hover {
    transition: 0.5s ease;
    box-shadow: 0px 0px 25px #fff;
    width: 450px;
}

.card img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    /* img ayayayay */
}


/* ====================================Projects============================================= */
.projects {
    padding-top: 120px;
}
.projects h1{
    text-align: center;
    padding-bottom: 10px;
}

.mainproject{
    display: flex;
    background-color: #a8b9a6;
    border-radius: 10px;
    justify-content: space-around;
    border: none;
    margin: 0 190px 20px;
     padding:40px;
     align-items: center;
     gap: 300px;
}

.mainproject:hover {
    box-shadow: 0 0 25px #a8b9a6;
}
.projectleft img{
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
    border: 3PX solid white;
}

.projectleft img:hover {
    width: 250px; /* Augmente la taille de l'image de 20% */
    height: 250px;
    transition: 0.3s ease;
}



/* Vous pouvez également ajouter un léger effet de flou pour l'arrière-plan si nécessaire */
.projectleft {
    overflow: hidden; /* Assure que l'image ne dépasse pas son conteneur */
}

/* =====================================================skills ====================================================================== */
.skills{
    padding: 120px;
    background-color:  #a8b9a6;

}
.skills h2{
    text-align: center;
    
}
.skillscard{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.skillscard img{
    width: 100px;
    height: 100px;
}
.cardskillsleft{
    border-radius: 10px;
    background-color:#d9d9d9;
    padding: 70px;
    text-align: center;
    box-shadow: 10px 10px 15px #313131;  /* Default box-shadow */
    transition: box-shadow 0.3s ease; /* Add transition effect */
}
.cardskillscenter{
    border-radius: 10px;
    background-color:  #d9d9d9;
    padding: 70px;
    text-align: center;
    box-shadow: 10px 10px 15px #313131;  /* Default box-shadow */
    transition: box-shadow 0.3s ease; /* Add transition effect */
}
.cardskillsriaght{
    border-radius: 10px;
    background-color: #d9d9d9;
    padding: 70px;
    text-align: center;
    gap: 20px;
    box-shadow: 10px 10px 15px #313131;  /* Default box-shadow */
    transition: box-shadow 0.3s ease; /* Add transition effect */
}


.cardskillsleft:hover, .cardskillscenter:hover, .cardskillsriaght:hover {
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.7); /* Brighter shadow effect */
    width: 150px;
    height: 150px;
    transition: 0.3s ease;
}
/* ****************************contact************************************************ */



.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 150px;
    padding-top: 200px;
}

.contacts {
    display: flex;
    gap: 100px;
}

.contactLeft {
    background-color: #a8b9a6;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 30px;
}

.contactLeft h3 {
    font-size: larger;
}

.contactLeft p {
    font-size: large;
    padding-bottom: 30px;
}

form {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.contactRight {
    display: flex;
    flex-direction: column;
    background-color: #a8b9a6;
    padding: 20px;
    border-radius: 30px;
    gap: 30px;
}

.mailphone input{
    width: 205px;
}
#mail {
    width: 280px;
}

.contactRight input {
    padding: 15px 20px;
}

.size {
    width: 92%;
}

.contactRight textarea {
    width: 550px;
    height: 150px;
    padding: 10px;
}

.contactRight button {
    width: 20%;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.contactRight button:hover {
    box-shadow: 0 0 15px #fff;
}
/* =======================footer====================================================== */
 

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: larger;
    padding: 15px;
    background-color: #a8b9a6;
    margin-top: 20px;
    
}
